<div class="columns is-desktop">
    <div class="column" >
      <p class="bd-notification is-info">First column</p>
    </div>
    <div class="column">
      Second column
    </div>
    <div class="column">
      Third column
    </div>
    <div class="column">
      Fourth column
    </div>
    <div class="column">
      Fifth column
    </div>
  </div>
  <div class="columns is-desktop">
    <div class="column" >
      <p class="bd-notification is-info">First column</p>
    </div>
    <div class="column">
      Second column
    </div>
    
  </div>